footer {
    text-align: center;
}
.site-footer-logo {
    display:block;
    margin: 0 auto;
    text-align: center;
}
.site-footer-logo img {
    max-width: 100%;
    width: 100px;
    height: auto;
}

@media (min-width: 50rem) {
    .site-header {
        max-height: 12rem;
        height: 10rem;
    }
}