@import "./color_schemes/dark";

$white: #fff !default;
$black: #000000;
$light-grey: #d9d9d9;
$extra-light-grey: #d9d9d9;
$dark-grey: #a5a5a5;
$text: #1a1a1a;
$magenta: #b42573;
$purple: #6868cf;
$red: #670a3a;

$link-color: $magenta;
$btn-primary-color: $magenta;
$base-button-color: $purple !default;
